In [1]:
## packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import simplejson as json

In [2]:
# path = '/Users/noraxu/MSiA-Google/MSiABlog/yelp_dataset/review.json'
# review = []
# with open(path) as fin:
#     i = 0 
#     for line in fin:
#         line_contents = json.loads(line)
#         review.append(line_contents)

In [3]:
data_review = pd.read_csv('/Users/noraxu/MSiA-Google/MSiABlog/reviews_toronto.csv',index_col=0)

In [4]:
data_review.head(3)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
14,AakkkTuGZA2KBodKi2_u8A,0,2012-07-16 00:37:14,1.0,JVcjMhlavKKn3UIt9p9OXA,1.0,I cannot believe how things have changed in 3 ...,1.0,TpyOT5E16YASd7EWjLQlrw
15,YvrylyuWgbP90RgMqZQVnQ,0,2017-04-07 21:27:49,0.0,svK3nBU7Rk8VfGorlrN52A,5.0,You can't really find anything wrong with this...,0.0,NJlxGtouq06hhC7sS2ECYw
19,y-Iw6dZflNix4BdwIyTNGA,0,2014-06-27 21:19:23,0.0,4bUyL7lzoWzDZaJETAKREg,3.0,Good selection of classes of beers and mains. ...,0.0,_N7Ndn29bpll_961oPeEfw

In [5]:
data_review.groupby('user_id').count()['business_id'].describe()

count    92381.000000
mean         4.568580
std         14.816299
min          1.000000
25%          1.000000
50%          1.000000
75%          3.000000
max       1400.000000
Name: business_id, dtype: float64

In [6]:
data_review = pd.read_csv('/Users/noraxu/MSiA-Google/MSiABlog/reviews_cleaned.csv',index_col=0)
data_business = pd.read_csv('/Users/noraxu/MSiA-Google/MSiABlog/business_Nora2.csv',index_col=0)
data_users = pd.read_csv('/Users/noraxu/MSiA-Google/MSiABlog/users_toronto.csv',index_col=0)

In [7]:
data_users.shape

(92381, 24)

In [8]:
user_tag = data_review.merge(data_business, left_on='business_id', right_on='business_id')

In [9]:
user_tag.head()

,business_id,cool,date,funny,review_id,stars_x,text,useful,user_id,year,...,Halal,Gluten-Free,Food Delivery Services,Wine Bars,Delis,Health Markets,Tea Rooms,Sports Bars,Gastropubs,Tapas/Small Plates
0,AakkkTuGZA2KBodKi2_u8A,0.0,2012-07-16 00:37:14,0.693147,JVcjMhlavKKn3UIt9p9OXA,-1.0,I cannot believe how things have changed in 3 ...,0.693147,TpyOT5E16YASd7EWjLQlrw,2012,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AakkkTuGZA2KBodKi2_u8A,0.0,2014-02-24 01:45:02,0.000000,vKhtzhPUz9RJbllyvHm3qA,-1.0,"Pretty good, food,, about the same as other vi...",0.000000,G-9ujgKmc1J2k7HSqXszsw,2014,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,AakkkTuGZA2KBodKi2_u8A,0.0,2016-02-12 00:25:23,0.000000,Je6AF9sTKwXwOVw2YHR1dg,1.0,I've been going to this place since it opened ...,0.000000,NA4sslQXta6U263fqzwKiw,2016,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,AakkkTuGZA2KBodKi2_u8A,0.0,2013-05-07 06:03:17,0.000000,b_xVF8U5Vqljz58OUEjqgA,1.0,One of the best Vietnamese places I`ve tried i...,0.693147,1fNQRju9gmoCEvbPQBSo7w,2013,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,AakkkTuGZA2KBodKi2_u8A,0.0,2011-11-30 16:46:24,0.000000,vFPpG1xDBSWcvy_165fxKg,-1.0,"This place is just ok. Nice atmosphere, big op...",0.000000,fYJGKhZK2FZckYWDMdCooA,2011,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
data_review.shape

(410634, 10)

In [11]:
data_business.shape

(10093, 85)

In [12]:
user_tag.shape

(410634, 94)

In [13]:
user_tag.columns

Index(['business_id', 'cool', 'date', 'funny', 'review_id', 'stars_x', 'text',
       'useful', 'user_id', 'year', 'name', 'address', 'city', 'state',
       'postal_code', 'latitude', 'longitude', 'stars_y', 'review_count',
       'category', 'WiFi', 'RestaurantsTakeOut', 'Alcohol', 'BikeParking',
       'RestaurantsReservations', 'OutdoorSeating', 'RestaurantsDelivery',
       'RestaurantsPriceRange2', 'RestaurantsAttire', 'NoiseLevel', 'HasTV',
       'RestaurantsGoodForGroups', 'GoodForKids', 'Coffee & Tea', 'Nightlife',
       'Bars', 'Specialty Food', 'Sandwiches', 'Breakfast & Brunch',
       'Canadian (New)', 'Cafes', 'Chinese', 'Italian', 'Bakeries', 'Pizza',
       'Japanese', 'Desserts', 'Fast Food', 'Burgers',
       'American (Traditional)', 'Sushi Bars', 'Event Planning & Services',
       'Grocery', 'Indian', 'Middle Eastern', 'Mediterranean', 'Asian Fusion',
       'Ice Cream & Frozen Yogurt', 'Thai', 'Mexican', 'Pubs', 'Shopping',
       'American (New)', 'Korean', 'Caterers', 'Juice Bars & Smoothies',
       'Seafood', 'Chicken Wings', 'Salad', 'Beer', 'Wine & Spirits',
       'Barbeque', 'Vietnamese', 'Vegetarian', 'French', 'Ethnic Food',
       'Diners', 'Vegan', 'Comfort Food', 'Greek', 'Caribbean', 'Lounges',
       'Cocktail Bars', 'Arts & Entertainment', 'Halal', 'Gluten-Free',
       'Food Delivery Services', 'Wine Bars', 'Delis', 'Health Markets',
       'Tea Rooms', 'Sports Bars', 'Gastropubs', 'Tapas/Small Plates'],
      dtype='object')

In [14]:
user_tag2 = user_tag.groupby('user_id').sum().iloc[:,33:]

In [15]:
user_tag2.shape

(92381, 37)

In [16]:
tag = []
for i in range(user_tag2.shape[0]):
    tmp = user_tag2.iloc[i,:].sort_values(ascending=False)[:2].index.tolist()
    tag.extend(tmp)

len(set(tag))

37

In [17]:
tag_all = user_tag2.idxmax(axis=1)
tag_list = list(set(tag_all))
tag_all_df = pd.DataFrame(tag_all).reset_index()

for tag in tag_list:
    data_users[tag] = 0

In [18]:
for ind,val in enumerate(tag_all):
    row = list(data_users['user_id']).index(tag_all_df['user_id'][ind])
    data_users.loc[row,val] = 1

In [19]:
data_users.iloc[:,24:].describe()

,Vietnamese,Pubs,Arts & Entertainment,Caterers,American (New),Chicken Wings,Ethnic Food,Barbeque,Greek,Gastropubs,...,Salad,Food Delivery Services,Comfort Food,Mexican,Sports Bars,Caribbean,Beer,Seafood,Shopping,Health Markets
count,92381.000000,92381.000000,92381.000000,92381.000000,92381.000000,92381.000000,92381.000000,92381.000000,92381.000000,92381.00000,...,92381.00000,92381.000000,92381.000000,92381.000000,92381.000000,92381.000000,92381.000000,92381.000000,92381.000000,92381.000000
mean,0.017969,0.066832,0.005412,0.024983,0.075048,0.013185,0.010846,0.019972,0.011831,0.00381,...,0.01733,0.004568,0.012546,0.066280,0.006960,0.008811,0.016118,0.048397,0.014895,0.000963
std,0.132840,0.249732,0.073370,0.156076,0.263470,0.114065,0.103580,0.139903,0.108128,0.06161,...,0.13050,0.067433,0.111304,0.248772,0.083138,0.093455,0.125930,0.214606,0.121133,0.031024
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,...,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [20]:
data_users.to_csv('/Users/noraxu/MSiA-Google/MSiABlog/users_tag.csv')